<h1>This is the (<strong><%= @restaurant.name %></strong>) restaurant show page!</h1>

<b>Address:</b>
<%= @restaurant.address %><br>
<br>
<b>Description:</b>
<%= @restaurant.description %><br>
<br>
<b>Review:</b>
<%= @restaurant.review %>